.auth-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
  }
  
  .auth-form__header {
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .button_submit {
    width: min-content;
    margin-top: 20px!important;
    padding: 5px 30px!important;
  }

  